@model SampleMVC.Models.Person



<input type="button" id="button1" value="jsonp(GET)">
<input type="button" id="postButton" value="Post/People(Post)">
<input type="button" id="btn1" value="jQueryを使って画面にメッセージを表示する">

<p>クラス取得：<span id="maminData"></span></p>
<input type="text" id="tBox" />


@section scripts{
    <script>

    </script>
}